* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Work Sans';
}

/* background image added */
.banner {
    background-image: url('../images/banner/banner3.png');
    width: 1520px;
    height: 808px;
}

/* .banner-content {
    top: 50%;
    margin-right: 500px;
    margin-left: 500px;
    position: absolute;
    transform: translate(+50%);
    text-align: center left;

} */

.banner-content {
   padding-top: 300px;
   padding-left: 350px;
    margin-right:260px;
    margin-left: 500px;
    
   
    text-align: center left;
}
.banner-title {
    text-align: right;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.banner-subtitle {
    /* font-family: 'Work Sans'; */
    margin: 30px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.btn-primary {
    margin-left: 250px;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;

    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    font-style: normal;
}

.my-failures {
    margin: 50px 300px 50px 120px;
    padding: 0;
    /*  background-repeat: no-repeat; */
    display: flex;
}

.my-failures img {
    width: auto;
    height: auto;
}

.failures-history {
    margin-top: 416px;
    margin-left: 87px;

}

.failures-history h3 {
    /* font-family: 'Work Sans'; */
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failures-history p {
    /* font-family: 'Work Sans'; */
    margin-bottom: 16px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failures-history ul {
    margin-bottom: 20px;
    margin-left: 10px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* checkmark added */
ul li:before {
    content: '✓';
    color: #16D887;
    margin-right: 16px;
}

ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* Skill section added */
.my-plan {
    margin: 30px 200px;
}

.my-plan h3 {
    /* font-family: 'Work Sans'; */
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.skill-container {
    display: flex;
    align-items: center;
    gap: 60px;

}

.skill img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.skill-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.skill_desc {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;

}

.mindset {
    margin-left: 220px;
    margin-top: 100px;
    margin-bottom: 100px;
    /* background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%); */
    border-radius: 8px;
}
.mindset-image{
    width: 1000px;
    height: 250px;
    background: linear-gradient(90deg, #2897f2 0%, rgba(0, 95, 172, 0) 100%),url(../images/watch.png) ; 
    background-repeat: no-repeat;
    border-radius: 4px;
}
.mindset-image h3{
    margin-top:20px; 
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 617px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.btn-call{
    margin-top: 20px;
    margin-left: 30px;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2398.96px;
    color: #005FAC;

    background: #FFFFFF;
    border-radius: 5px;
}


footer {
    background-color: #151414;
    display: flex;
    gap: 200px;
}

.more-info {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 50px;
    margin-bottom: 200px;
}

.more-info h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.more-info p {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.subscribe {
    color: #FFFFFF;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.subscribe input {
    border-radius:3px;
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2841.96px;
    border: 2px solid #FFFFFF;
}

.btn-secondary {
    margin-top: 30px;
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2921.96px;
    color: #FFFFFF;

    background: #005FAC;
    border-radius: 8px;
}
.social{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.square{
        margin-bottom: 50px;
        background: #FFF8F3;
        border: 2px slid blue;
        border-radius: 10px;
        padding: 50px 50px;
        display: flex;
    
}
.square p{
    font-family: 'Work Sans';
    text-align: justify;

}